---
import { CounterReact } from "@/components/B"
import Analytics from "@/lib/Analytics.astro"
import Layout from "../layouts/Layout.astro"
---
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <Analytics />
        <title>About</title>
    </head>
    
</html>

<Layout title="about">
    
    <h1>Bruno Costa Prado</h1>
    <CounterReact client:visible />
    <h1 class="text-3xl font-bold underline text-sky-400">
        Hello world!
      </h1>
    
</Layout>